
body {
    font-family: sans-serif;
}

.col-day {
    display: inline-block;
    margin: 3px;
    width: 15%;
}

/*#container{*/
    /*background: #FFFFFF;*/
    /*margin: auto;*/
    /*width: 99%;*/
    /*height: 99%;*/
/*}*/

/*#header{*/
    /*background: whitesmoke;*/
    /*height: 50px;*/
    /*width: auto;*/
/*}*/

/*#navigation{*/
    /*background: #a2a2a2;*/
    /*height: 20px;*/
    /*width: auto;*/
/*}*/

/*#menu{*/
    /*float: left;*/
    /*background: #FFFFFF;*/
    /*width: 30%;*/
    /*height: 700px;*/
/*}*/

/*#content{*/
    /*background: #d2d0d2;*/
    /*width: 70%;*/
    /*height: 700px;*/
/*}*/

/*#footer{*/
    /*background: whitesmoke;*/
    /*height: 50px;*/
    /*width: auto;*/
/*}*/
