{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}Расписание{% endblock %}</title>
    <link rel="icon" href="{% static 'rest_api/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'rest_api/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'rest_api/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'rest_api/css/styles.css' %}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block body %}{% endblock %}
<script src="{% static 'rest_api/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'rest_api/js/bootstrap.min.js' %}"></script>
<script src="{% static 'rest_api/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'rest_api/js/bootstrap-datetimepicker.ru.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>