{% extends 'rest_api/menu.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Удаление аудитории</h1>
                <form method="post">
                    {% csrf_token %}
                    <p>Вы действительно хотите удалить аудиторию "{{ object }}"?</p>
                    <input type="submit" class="btn btn-danger" value="Confirm"/>
                    <a href="{% url 'room:list' %}" class="btn btn-default">Отмена</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}