<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <button class="btn btn-primary pull-right"
                    (click)="previous()">
                Prev
            </button>
            <button class="btn btn-primary pull-right" (click)="refresh()">
                Refresh
            </button>
            <button class="btn btn-primary pull-right"
                    (click)="next()">
                Next
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-day">
            <p>{{ viewDate1 | calendarDate:(view + 'ViewTitle'):locale }}</p>
            <mwl-calendar-day-view
                    [viewDate]="viewDate1"
                    [events]="events"
                    [dayStartHour]="8"
                    [dayEndHour]="19"
                    [refresh]="refresh1"
                    (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
        </div>
        <div class="col-day">
            <p>{{ viewDate2 | calendarDate:(view + 'ViewTitle'):locale }}</p>
            <mwl-calendar-day-view
                    [viewDate]="viewDate2"
                    [events]="events"
                    [dayStartHour]="8"
                    [dayEndHour]="19"
                    [refresh]="refresh1"
                    (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
        </div>
        <div class="col-day">
            <p>{{ viewDate3 | calendarDate:(view + 'ViewTitle'):locale }}</p>
            <mwl-calendar-day-view
                    [viewDate]="viewDate3"
                    [events]="events"
                    [dayStartHour]="8"
                    [dayEndHour]="19"
                    [refresh]="refresh1"
                    (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
        </div>
        <div class="col-day">
            <p>{{ viewDate4 | calendarDate:(view + 'ViewTitle'):locale }}</p>
            <mwl-calendar-day-view
                    [viewDate]="viewDate4"
                    [events]="events"
                    [dayStartHour]="8"
                    [dayEndHour]="19"
                    [refresh]="refresh1"
                    (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
        </div>
        <div class="col-day">
            <p>{{ viewDate5 | calendarDate:(view + 'ViewTitle'):locale }}</p>
            <mwl-calendar-day-view
                    [viewDate]="viewDate5"
                    [events]="events"
                    [dayStartHour]="8"
                    [dayEndHour]="19"
                    [refresh]="refresh1"
                    (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
        </div>
        <div class="col-day">
            <p>{{ viewDate6 | calendarDate:(view + 'ViewTitle'):locale }}</p>
            <mwl-calendar-day-view
                    [viewDate]="viewDate6.getDay(1)"
                    [events]="events"
                    [dayStartHour]="8"
                    [dayEndHour]="19"
                    [refresh]="refresh1"
                    (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
        </div>
    </div>
</div>